.app {
    text-align: center;
    width: 100%;
    height: 100vh;
    background: url(Images/space-hd-png.png);
    background-size: cover;
    animation: animatebg 60s linear infinite;
 
}

.about_header {
    position: center;
    color: white;
}

.column-left {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column-right {
  float: right;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.row {
    content: "";
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    /* height: 100vh; */
    height: 350px;
    background: url(Images/earth.png);
    background-size: cover;
    animation: animateEarth 12s linear infinite;
    border-radius: 50%;
    box-shadow: inset 0 0 40px rgba(255,255,255,.5);
} 

.pulse span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    animation: animate 6s linear infinite;
}
.pulse span:nth-child(1) {
    animation-delay: 0s;
}
.pulse span:nth-child(2) {
    animation-delay: 2s;
}
.pulse span:nth-child(3) {
    animation-delay: 4s;
}

@keyframes animate {
    0% {
        width: 350px;
        height: 350px;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        width: 600px;
        height: 600px;
        opacity: 0;
    }
}
@keyframes animateEarth {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 719px 0;
    }
}
@keyframes animatebg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1600px 0;
    }
}

nav {
    /* position: fixed; */
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgba(0, 0, 0, 0.856);
    color: white; 
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.top-nav-icon {
    height: 50px;
    width: 50px;
}

@keyframes top-nav-icon-spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .top-nav-icon {
        animation: top-nav-icon-spin infinite 20s linear;
    }
}